// Import colors
///// split into __ dots
// basic
// etc
//@import '../../../../StyleConfig/foundation-sites/scss/util/util';
// import Icons - but like cesar did -- for --- invoice library -- material icons class
// remake colors
//frontend/applications/StyleConfig/src/assets/scss/app.scss
//@import '../StyleConfig/src/assets/scss/mixins/material';
//@import 'mixins/fonts';

/// colors
//@import '../Colors/colors.scss'; ///// no need to use colors, as i am using global vars/ tokens !!!!!!!!!!
//@import  '../FontsTypography/foundation-fonts-weights.scss'; //// put in global
//// colors
/// these are from ---- bades ... should i make colors for this or add



/// better name
//// flex is not adding padding
//correct divs
.badge-basic {
    cursor: pointer;
    width: fit-content;
    height: 18px;
    //flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 3px 4px;
    background-color: var(--color-greyscale-grey-50);
    color: var(--text-white-100);

    .badge-message {
       // width: 36px; looses a few pixel - so maybe font is not correct
       // height: 12px;
        flex-grow: 0;
        font-family: breuercondensed;
        //font-size: $font-size-14; //// needs to be a globa
        font-size: 12px;
        font-weight: 500;
        //font-stretch: condensed; from main text
        line-height: 13px;
        letter-spacing: 0.24px;
        text-align: center;
    }

    @media (min-width: 768px) {

        height: 20px;

        .badge-message {
            height: 14px;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.28px;
        }
    }
}

//name-basic: its a must
// Emphasis : Heavy, Medium, Large () dark, medium, light
// Variant - alert info, alert-success
// Icon: lable or label + icon

/// variant
/// Totallt new
.badge-icon {
    @extend .badge-basic;
   // width: 67px;
   /* width: fit-content;
    //width: fit-content;
    height: 20px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 3px 4px;
   //background-color: var(--alert-success-default);
    background: var(--greyscale-grey-50); /// use tokens or vars?
*/
    .material-symbols-outlined {
        font-size: 12px;
        color: var(--text-white-100);
        margin-left: -1px;

        @media (min-width: 768px) {
            font-size: 14px;
        }
    }
}

/// netral
// variant (eg neutral) + Emphasis (eg. heavy, medium, light
// should i name variant-neutral-emphasis-heavy ?? too long
// current alligo variant-base-large variant-primary-large

// size variants small, medium, large for desktop and mobile

// size vars desktop
//How to accomidate for SB display and real sys
// maybe these can be for SB display
.basic-desktop {
    // 44
    // 20
}

.basic-mobile {
//
}

.variant-neutral-default {
    background: var(--color-greyscale-grey-50);
    color: var(--text-white-100);
}

.variant-neutral-medium {
    background: var(--color-greyscale-grey-20);
    color: var(--text-highest-emphasis);
}

.variant-neutral-light {
    background: var(--color-greyscale-grey-05);
    color:  var(--text-highest-emphasis);
    outline: 1px solid var(--color-greyscale-grey-10);
}

// info
.variant-info-default {
    background: var(--info-default);
    color: var(--text-white-100);
}

.variant-info-medium {
    background: var(--info-medium);
    color: var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

.variant-info-light {
    background: var(--info-light);
    outline: 1px solid var(--info-medium);
    color:  var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

// Success
.variant-success-default {
    background: var(--success-default);
    color: var(--text-white-100);
}

.variant-success-medium {
    background: var(--success-medium);
    color: var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

.variant-success-light {
    background: var(--success-light);
    outline: 1px solid var(--success-medium);
    color:  var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

// warning
.variant-warning-default {
    background: var(--warning-default);
    color: var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

.variant-warning-medium {
    background: var(--warning-medium);
    color: var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

.variant-warning-light {
    background: var(--warning-light);
    outline: 1px solid var(--warning-medium);
    color:  var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

//Danger
.variant-danger-default {
    background: var(--danger-default);
    color: var(--text-white-100);
}

.variant-danger-medium {
    background: var(--danger-medium);
    color: var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

.variant-danger-light {
    background: var(--danger-light);
    outline: 1px solid var(--danger-medium);
    color:  var(--text-highest-emphasis);

    .material-symbols-outlined {
        color: var(--text-highest-emphasis);
    }
}

/*
Storybook only styles below
used for custom display
Not to be used in main systen
*/

.badge-basic-sb-mobile {
    width: fit-content;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 3px 4px;

    .material-symbols-outlined {
        font-size: 12px;
        margin-left: -1px;
    }

    .badge-message {
        flex-grow: 0;
        font-family: breuercondensed;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.24px;
        text-align: center;
    }
}
