/*
* Storybook page containers
* Only used for storybook layout
*/

//@import "../../globalStyles/foundation-fonts-weights"; 
//@import is not working for some reason - but works if I import directly


// import fonts? correct here?

// Global page.
/*
Launch - removing this as i changed html
.sb-page {
    max-width: 1440px !important;
}

// launch - is this being used and where? why
.sb-page-mobile {
    max-width: 1440px;
    display: flex;
    justify-content: center;
}
*/
// thidsnk - nest or not - is it reusable?
// main page....This i
//Does this need to be here or split?
//keep here for now
.sb-main-content {
    margin: 20px 10px 20px;
    max-width: 1200px;

    @media (min-width: 768px) {
        margin: 80px 120px 80px;
    }
}

.sb-main-content-mobile-only {
    max-width: 379px;
    margin: 20px 10px 20px;
}
// in the above --- check to see mobile vs desktop ... the instance ... or else nest

// Main into header and text
/// LAUNCH - Page first container ...
.sb-intro-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 32px;

    .sb-intro-title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .sb-status-label {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 8px;
           // padding: 4px 5px 4px 5px;
        
            &.draft {
                /// del this
                /// // or actually use
               // background-color: var(--warning-medium);
            }
        }
    }

    // write description for each section
    //Stroybook into test
    .sb-intro-text {
        max-width: 690px;
        margin-top: 16px;
    
        p {
            margin-bottom: 20px;
        }
    
        // used to override system default p
        p:last-child {
            margin-bottom: 0px;
        }
    }


}






/// Sub Header with underline standard
.sb-sub-intro-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;

    .sb-sub-title-wrap {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: flex-start;
        align-self: stretch;
        width: 1200px;
        align-items: flex-start;
    }

    .hr-line-division {
        width: 100%;
        max-width: 1200px;
        margin: 16px 0 0 0;
        border-bottom: 1px solid #CCCCCC;
        clear: both;
    }

    .sb-secondary-content-text {
        max-width: 950px;
        margin-top: 24px;
    
        p {
            margin-bottom: 1.125rem;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}


//// Single small Sub header with no underline (small sub)
.sb-sub-small-container {
    margin-bottom: -16px;
    margin-top: 32px;

    .sb-desc-content-text {
        margin-top: 8px;
    }
}

///
/// 
//// Grid Column header 3 -colcomponent
/// 
.sb-grid-header-3-col {
    background-color: #FAFAFA; /// color variable
    border-top: 1px solid #E5E5E5; // grey 10
    border-bottom: 1px solid #E5E5E5; // grey 10
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;

    .alt-label-lg:last-child {
        display: none;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);

        .alt-label-lg:last-child {
            display: block;
        }
    }
}

.sb-grid-header-container-4-col {
    background-color: #FAFAFA; /// color variable
    border-top: 1px solid #E5E5E5; // grey 10
    border-bottom: 1px solid #E5E5E5; // grey 10
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;

    .alt-label-lg:last-child {
        display: none;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);

        .alt-label-lg:last-child {
            display: block;
        }
    }
}


///// Storybook Grid Container
.sb-grid-container {
    display: grid;
    gap: 32px;
    padding: 0 16px 0 16px;
}

.sb-grid-row {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #E5E5E5; // grey 10
    padding-bottom: 25px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.sb-grid-row-4-col {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #E5E5E5; // grey 10
    padding-bottom: 25px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.sb-grid-item-example {
    padding-top: 0;

    p {
      //  margin-bottom: 12px; changed - to accomidate paragraph spacing
      margin-top: 0px;
    }
    p:last-child {
        margin-bottom: 0px;
    }
}

.sb-grid-item-desc {
    .title-md {
        display: block;
        padding-bottom: 8px;
    }
}

.sb-grid-item-token {
    display:none;

    @media (min-width: 768px) {
        display:block;
    }
}

//// storybook Articles
.sb-info-block-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 16px 0;
    gap: 16px;
}

/// used to override SB - put it somewhere in a SB overrieds only folder


