// import fonts
// import colors

/// for flexbox but what is it?
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    box-sizing: border-box;
}


.paddingBlock {
    padding: 20px 0;
}

.eqWrap {
    display: flex;
}

.eq {
    padding: 10px;

    button {
        margin: 0 auto;
    }
}

.eq:nth-of-type(odd) {
  //  background: yellow;
}

.eq:nth-of-type(even) {
   // background: lightblue;
}


.equalHMVWrap {
    flex-wrap: wrap;
}

.equalHMV {
   /* width: 16.6%;
    margin: .5%;
    */
    width: 20%;
    text-align: center;
}

.equalHMV:nth-of-type(6n) {
    margin-right: 0;
}

.equalHMV:nth-of-type(6n+1) {
    margin-left: 0;
}
///

select, .dropdown-component a {
    //height: 2.8125rem;
    height: 40px; // px or REM
    margin: 0 0 1rem;
    padding: 0.5rem;
    appearance: none;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    //background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 141, 150%29"></polygon></svg>);
    background-image: url("data:image/svg+xml,<svg width='32' height='24' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l24,0l0,24l-24,0l0,-24z'/></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    transition: box-shadow .5s,border-color .25s ease-in-out;

    // added
   // font-family: body-sm;
   // color: ;

    .caret {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #000000;
        width:1px;
    }
}

// General
.component-container-for-elements {
    min-height: 232px; // was 300
    //min-height: 300px;
    //border-bottom: 5px solid grey; // proper gray and fases

    background-color: #F6F6F6; // get real color
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 8px rgba(0, 0, 0, 0.1);

    padding: 20px; // Q inner or on parent

    /// drop downs
}

.component-container-for-code {
    min-height: 286px;
    background-color: #f6f6f67a;

/// padding - inner or on parent
    .component-container-for-code-inner {
        padding:24px;
        pre {
            code {
                font-feature-settings: 'ss03' on, 'ss02' on;
                font-family: Courier;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
        }

        .clipboard-container {
            max-width: 100%;
        }
    }

    .tag-outer {
        color: red
    }

    .tag-inner {
        color: blue;
    }
}

///// working example
.highlight-line {
    appearance: none;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: green;

    .punctuation {
        color: red;
    }
}



.component-switcher-button-container {
    width: calc(100% / 4);
    display:flex;
    gap: 12px;
}

/// Theme Switcher
.bg-dark {
    color: white;
    background-color: var(--color-greyscale-black);
}

.middle {
    color: black;
    //background-color: white; // decision --- white or the color of design?
    background-color: var(--color-greyscale-grey-05);
}

.bg-white {
    color: black;
    //background-color: white; // decision --- white or the color of design?
    background-color: var(--color-greyscale-white);
}



/// Drop Downs
.super-attribute-select {
   /* font-family: "breuercondensed",Arial,Helvetica,Roboto,sans-serif;
    letter-spacing: .2px;
    color: #8d8d8d;*/
    color: #8d8d8d;
    font-family: "breuercondensed",Arial,Helvetica,Roboto,sans-serif;
    line-height: 1.5rem;
        height: 2.8125rem;
        margin: 0 0 1rem;
    font-size: 1.125rem;
    letter-spacing: .2px;
       // padding: 0.5rem;
        appearance: none;
        border: 1px solid #cfcfcf;
        border-radius: 0;
        background-color: #fff;
        //font-family: inherit;
       // font-size: 1.25rem;
        font-weight: 400;
       // line-height: 1.5;
        //color: #000;
       // background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 141, 150%29"></polygon></svg>);
        background-origin: content-box;
        background-position: right -1rem center;
        background-repeat: no-repeat;
       // background-size: 9px 6px;
        padding-right: 1.5rem;
        transition: box-shadow .5s,border-color .25s ease-in-out;

    option {
        font-weight: normal;
        display: block;
        white-space: nowrap;
        min-height: 1.2em;
        padding: 0px 2px 1px;
    }

}

super-attribute-select:focus {
    outline: none;
    border: 1px solid #637797;
    background-color: #fff;
    box-shadow: 0 0 5px #99a1b5;
    transition: box-shadow .5s,border-color .25s ease-in-out;
}
