// Custom Storybook doc templates
.css-zgt7u1 {
    padding: 0 !important;
}

.css-1gh4yjl {
    max-width: 100% !important;
}

.sb-show-main.sb-main-padded {
    background: white !important;
    padding: 0 !important;
}
