/// To do
// sort out tokens - vars --- seems to be differently names ones
//eg       //background: var(--alert-danger-default);
//background: var(--alert-danger-default); from zeplyn
//background: var(--alert-danger-default); // from eriks ones in figma
//color: var(--text-text-white-100); Zep
// F --text-white-100
// variables
// @media
// good class names
// image to good place

/// learning curve: object-fit: contain; // ???

/// 80 percent
/// maybe better font names
// vars
// rem pic to rem conversion ??
// vars
//Sass mixins
//Naming conventions


// base
.badge-purchase-info {
    display: flex;
    align-items: center;
    gap: 8px;

    .purchase-info-wrapper {
        display: flex;
        width: fit-content;

        .title-container {
            display: flex;
            padding: 3px 3px 3px 5px;
            align-items: center;
            background: var(--danger-default);

            /// problem area --- this or orig text?
            //alphabetical
            .title {
                color: var(--text-white-100);
                font-feature-settings: 'ss03' on, 'ss02' on;
                /* Desktop/Label Small */
                font-family: breuercondensed; //large or
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 12px; /* 100% */
                letter-spacing: 0.48px;
                text-transform: uppercase;
                margin-right: -0.47px; // somehow, extra spacing is adding in text---why? goes for others
            }
        }
        .title-beak {
            //background-image: url(Beak.svg);
            // images in components??
            background-image: url(../../Icons/ComponentIcons/purchase-info-beak-red-8-18.svg);
            width: 8px;
            height: 18px;
            align-self: stretch;
            //width: 14px;
            //height: 14px;
            //margin-left: -2px; // for logo works for text but not singular logos
            background-size: auto;
            background-repeat: no-repeat;
        }
        .beak-col-mod-grey-50 {
            background-image: url(../../Icons/ComponentIcons/purchase-info-beak-grey-8-18.svg);
        }
        /// use a global / I e a class that already exists in colors??
        .bg-col-mod-grey-50 {
            background: var(--color-greyscale-grey-50);
        }
    }
    .description-text{
        color: var(--text-high-emphasis);
        font-feature-settings: 'ss06' on, 'ss03' on, 'ss02' on;
        /* Desktop/Body Small */
        font-family: breuercondensed; //large or
        font-size: 14px;
        font-style: normal;
        font-weight: 400; // figma says 500 (but 500 is too thick) 400 looks correct (when matching mine to design - so where is it going wrong) and ... zeplyn says normal which is 400 ... so its a mismatch
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.28px;

        .modifier-underline {
            text-decoration: underline;
            text-decoration-thickness: from-font;
            text-underline-offset: 2px;
        }
    }

    @media (min-width: 768px) {
        .purchase-info-wrapper {
            .title-container {
                .title {
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.56px;
                    margin-right: -0.56px;
                }
            }
            .title-beak {
                background-image: url(../../Icons/ComponentIcons/purchase-info-beak-red-10-20.svg);
                width: 10px;
                height: 20px;
            }
            .beak-col-mod-grey-50 {
                background-image: url(../../Icons/ComponentIcons/purchase-info-beak-grey-10-20.svg);
            }
        }
    }
}


/// Mobile
// Desktop

// variants


///Storybook only
// Mobile
.badge-purchase-info-sb-mob {
    .purchase-info-wrapper {
        .title-container {
            .title {
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.48px !important;
                margin-right: -0.47px !important;
            }
        }
        .title-beak {
            background-image: url(../../Icons/ComponentIcons/purchase-info-beak-red-8-18.svg);
            width: 8px;
            height: 18px;
            align-self: stretch;
            background-size: auto;
            background-repeat: no-repeat;
        }
        .beak-col-mod-grey-50 {
            background-image: url(../../Icons/ComponentIcons/purchase-info-beak-grey-8-18.svg);
        }
    }
}

/// sb Desktop


