.body-xl-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-xl, "breuercondensed");
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-body-xl, 400);
  line-height: var(--line-height-body-xl, 26px);
  letter-spacing: var(--letter-spacing-body-xl, 0px);
  margin-bottom: var(--margin-bottom-body-xl, 16px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-lg-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-lg, "breuercondensed");
  font-size: var(--font-size-body-lg, 18px);
  font-style: normal;
  font-weight: var(--font-weight-body-lg, 400);
  line-height: var(--line-height-body-lg, 26px);
  letter-spacing: var(--letter-spacing-body-lg, 0px);
  margin-bottom: var(--margin-bottom-body-lg, 16px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-md-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-md, "breuercondensed");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-body-md, 400);
  line-height: var(--line-height-body-md, 22px);
  letter-spacing: var(--letter-spacing-body-md, 0.32px);
  margin-bottom: var(--margin-bottom-body-md, 16px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-sm-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--Font-global-serif, "breuercondensed");
  font-size: var(--font-size-body-sm, 14px);
  font-style: normal;
  font-weight: var(--font-weight-body-sm, 400);
  line-height: var(--line-height-body-sm, 20px);
  letter-spacing: var(--letter-spacing-body-sm, 0.28px);
  margin-bottom: var(--margin-bottom-body-sm, 12px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

/* Desktop Small and Up */

.body-xl-dt {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-xl, "breuercondensed");
  font-size: var(--font-size-body-xl, 24px);
  font-style: normal;
  font-weight: var(--font-weight-body-xl, 400);
  line-height: var(--line-height-body-xl, 32px);
  letter-spacing: var(--letter-spacing-body-xl, 0px);
  margin-bottom: var(--margin-bottom-body-xl, 24px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-lg-dt {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-lg, "breuercondensed");
  font-size: var(--font-size-body-lg, 20px);
  font-style: normal;
  font-weight: var(--font-weight-body-lg, 400);
  line-height: var(--line-height-body-lg, 28px);
  letter-spacing: var(--letter-spacing-body-lg, 0px);
  margin-bottom: var(--margin-bottom-body-lg, 20px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-md-dt {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-body-md, "breuercondensed");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-body-md, 400);
  line-height: var(--line-height-body-md, 24px);
  letter-spacing: var(--letter-spacing-body-md, 0.32px);
  margin-bottom: var(--margin-bottom-body-md, 16px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.body-sm-dt {
  color: var(--color-text-primary, #000);
  font-family: var(--Font-global-serif, "breuercondensed");
  font-size: var(--font-size-body-sm, 14px);
  font-style: normal;
  font-weight: var(--font-weight-body-sm, 400);
  line-height: var(--line-height-body-sm, 20px);
  letter-spacing: var(--letter-spacing-body-sm, 0.28px);
  margin-bottom: var(--margin-bottom-body-sm, 12px);

  &:last-of-type {
    margin-bottom: 0;
  }
}

