// to do set global font to breir... and then a fallback
// then remove all font-family?
/// you need to make mabile and desktop cars for this

.badge-number-sb {
    min-width: 18px;
    height: 18px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 4px;
    border-radius: 100px;
    background-color: var(--color-greyscale-black);

    .numeric-content {
        //width: 10px;
        min-width: fit-content;
       // width: max-content;
        line-height: 12px;
        flex-grow: 0;
        font-family: breuercondensed; /// should this be global??
        font-size: 12px;
        font-weight: bold; // ? 700 in figma ? is there a var for this,
        font-stretch: condensed; // ?
        font-style: normal; // ?
        letter-spacing: normal; // ?
        text-align: center;
        color: var(--alligo-neutral-00);
        font-feature-settings: 'clig' off, 'liga' off;
        // F
        text-transform: uppercase;
    }


    @media (min-width: 768px) {
        min-width: 20px;
        height: 20px;
        padding: 0 5px;

        .numeric-content {
            line-height: 13px;
            font-size: 14px;
        }
    }

}

// To do: refine
// these are for SB only... define the above in @media
/// desktop large
.dsktp-lg {
    min-width: 20px;
    height: 20px;
    padding: 0px 5px;

    .numeric-content {

    }
}
/// desktop small
.dsktp-sm {
    min-width: 18px;
    height: 18px;
    padding: 3px 4px;

    .numeric-content {
        font-size: 12px;
        line-height: 12px;

    }
}

//Mobile large
.mob-lg {
    min-width: 16px !important;
    height: 16px !important;
    padding: 3px !important;
    .numeric-content {
        font-size: 10px !important;;
        line-height: 11px !important;;
    }
}
//Small
.mob-sm {
    min-width: 14px;
    height: 14px;
    padding: 2px;
    .numeric-content {
        font-size: 10px;
        line-height: 10px;
    }

}
