.display-sm-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-display-sm, "breuercondensed");
  font-size: var(--font-size-display-sm, 22px);
  font-style: normal;
  font-weight: var(--font-weight-display-sm, 700);
  line-height: var(--line-height-display-sm, 22px); /* 100% */
  letter-spacing: var(--letter-spacing-display-sm, 0px);
  text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-sm, 12px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}
.display-md-mob {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-display-md, "breuercondensed");
font-size: var(--font-size-display-md, 28px);
font-style: normal;
font-weight: var(--font-weight-display-md, 700);
line-height: var(--line-height-display-md, 28px); /* 100% */
letter-spacing: var(--letter-spacing-display-md, 0px);
text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-md, 12px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}
.display-lg-mob {
  color: var(--color-text-primary, #000);
font-family: var(--Font-global-serif, "breuercondensed");
font-size: var(--font-size-display-lg, 36px);
font-style: normal;
font-weight: var(--font-weight-display-lg, 700);
line-height: var(--line-height-display-lg, 36px); /* 100% */
letter-spacing: var(--Letter-spacing-0, 0px);
text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-lg, 18px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}

.display-sm-dt {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-display-sm, "breuercondensed");
font-size: var(--font-size-display-sm, 26px);
font-style: normal;
font-weight: var(--font-weight-display-sm, 700);
line-height: var(--line-height-display-sm, 26px); /* 100% */
letter-spacing: var(--letter-spacing-display-sm, 0px);
text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-sm, 12px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}
.display-md-dt {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-display-md, "breuercondensed");
font-size: var(--font-size-display-md, 36px);
font-style: normal;
font-weight: var(--font-weight-display-md, 700);
line-height: var(--line-height-display-md, 36px); /* 100% */
letter-spacing: var(--letter-spacing-display-md, 0px);
text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-md, 12px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}
.display-lg-dt {
  color: var(--color-text-primary, #000);
font-family: var(--Font-global-serif, "breuercondensed");
font-size: var(--font-size-display-lg, 66px);
font-style: normal;
font-weight: var(--font-weight-display-lg, 700);
line-height: var(--line-height-display-lg, 66px); /* 100% */
letter-spacing: var(--Letter-spacing-0, 0px);
text-transform: uppercase;

    /* Add spacing by default */
    margin-bottom: var(--margin-bottom-display-lg, 18px); // Launch - check with Erik

    /* Remove margin-bottom only from the last <p> with .body-xl-dt */
    &:last-of-type {
      margin-bottom: 0;
    }

}
