.alt-label-lg-mob {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-alt-label-lg, "breuercondensed");
  font-size: var(--font-size-alt-label-lg, 16px);
  font-style: normal;
  font-weight: var(--font-weight-alt-label-lg, 500);
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.alt-label-md-mob {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-alt-label-md, "breuercondensed");
font-size: var(--font-size-alt-label-md, 14px);
font-style: normal;
font-weight: var(--font-weight-alt-label-md, 500);
line-height: var(--line-height-alt-label-md, 14px); /* 100% */
letter-spacing: var(--letter-spacing-alt-label-md, 0.56px);
text-transform: uppercase;
}

.alt-label-sm-mob {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-alt-label-sm, "breuercondensed");
font-size: var(--font-size-alt-label-sm, 12px);
font-style: normal;
font-weight: var(--Font-weight-medium-500, 500);
line-height: var(--line-height-alt-label-sm, 12px); /* 100% */
letter-spacing: var(--letter-spacing-alt-label-sm, 0.48px);
text-transform: uppercase;
}


.alt-label-lg-dt {
  color: var(--color-text-primary, #000);
  font-family: var(--font-family-alt-label-lg, "breuercondensed");
  font-size: var(--font-size-alt-label-lg, 18px);
  font-style: normal;
  font-weight: var(--font-weight-alt-label-lg, 500);
  line-height: 18px; /* 100% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.alt-label-md-dt {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-alt-label-md, "breuercondensed");
font-size: var(--font-size-alt-label-md, 16px);
font-style: normal;
font-weight: var(--font-weight-alt-label-md, 500);
line-height: var(--line-height-alt-label-md, 16px); /* 100% */
letter-spacing: var(--letter-spacing-alt-label-md, 0.64px);
text-transform: uppercase;
  
}

.alt-label-sm-dt {
  color: var(--color-text-primary, #000);
font-family: var(--font-family-alt-label-sm, "breuercondensed");
font-size: var(--font-size-alt-label-sm, 14px);
font-style: normal;
font-weight: var(--font-weight-alt-label-md, 500);
line-height: var(--line-height-alt-label-sm, 14px); /* 100% */
letter-spacing: var(--letter-spacing-alt-label-sm, 0.56px);
text-transform: uppercase;
}

// make a global one ?? in a new file?

.space-16-small-temp {
  background-color: #ccc;
  width: 16px;
  height: 16px;
}

.space-24-small-temp {
  background-color: #ccc;
  width: 24px;
  height: 24px;
}

.space-32-large-temp {
  background-color: #ccc;
  width: 32px;
  height: 32px;
}

// ovveride p (from storybook)
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
//options: ['', 'space-16-small', 'space-24-small', 'space-32-small'], // go over

