// Questions:
/*
Will the text change??? what about other languages
Keep width as example
 */
// To Do
// move images folder to system so that it also works here
/*
pix to rem
use defined heights
use defined font vars
// alphabetical order
// default fonts not aligning centrally --- seems to be weid spacing so i have to add in 1 px
// sort out @media
/// make SB specific
// best names
// text seems jagged
// working in all browsers?
// rename SVG's
// put SVG in correct folder
 */
// isues --- width in figma + this are not equal --- a few extra pixels too much (maybe fonts)

.badge-product {
    width: fit-content;
    height: 18px; /// do i need a height?
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 3px 4px;
    outline: 1px solid var(--color-greyscale-grey-10);
    background: var(--color-greyscale-grey-05);

    // use image or use the actual svg raw code?
    .material-icons-custom {
        width: 12px;
        height: 12px;
        //margin-left: -2px; // for logo works for text but not singular logos
        background-size: auto;
        background-repeat: no-repeat;
    }

    /// internal or external
    &.variant-standard-assortment {
        margin-top: 1px !important;
    }

    &.variant-contract-assortment {
        margin-top: 1px !important;
    }

    &.variant-great-price {
        margin-top: 1px !important;
    }

    /// can i somehow put the varius svg's in here instead of externally? should I

    //// use this, or use the defined font
    /// repurcussions ---
    /// use it once, defined once ... or every single time someone uses it, new stuff
    /// better to make it only once and draw from it
    /// use this then as defacto
    //// remove this and see if it still works out

    /* Desktop/Label Small */
    .badge-product-title {
        color: var(--text-highest-emphasis);
        font-feature-settings: 'ss03' on, 'ss02' on;
        /* Desktop/Label Small */
        //font-family: breuercondensed; // draws from main -- so use here or? or perhaps global?
        //font-size: 12px;
        //font-style: normal; // ys no?
        //font-weight: 700; // add var
       // line-height: 12px; // add var ... also --- will i use this or padding top
        letter-spacing: 0.48px;
        //text-transform: uppercase;
        padding-top: 0;
       // width: 47px; // add this in and it make the item perfect ??? but ---what to do if there is more text?
        //height: 14px;
    }

    // sort out at media
    @media (min-width: 768px) {
        height: 20px; /// do i need a height

        .material-icons-custom {
            width: 14px;
            height: 14px;
            //margin-left: -2px; // for logo works for text but not singular logos
        }
        .badge-product-title {
           // font-size: 14px;
           // line-height: 14px; // add var ... also --- will i use this or padding top
            letter-spacing: 0.56px;
            padding-top: 1px;
        }
    }
}

// icon variations

// standard assortment
// added to base
.variant-standard-assortment {
    .material-icons-custom {
        background-image: url(../../Icons/MaterialSymbolSVG/verified/verified_500_12.svg);
        @media (min-width: 768px) {
            background-image: url(../../Icons/MaterialSymbolSVG/verified/verified_500_14.svg);
        }
    }
}
// contract-assortment
.variant-contract-assortment {
    .material-icons-custom {
        background-image: url(../../Icons/MaterialSymbolSVG/assignment_turned_in/assignment_turned_in_400_12.svg);
        @media (min-width: 768px) {
            background-image: url(../../Icons/MaterialSymbolSVG/assignment_turned_in/assignment_turned_in_400_14.svg);
        }
    }
}
// great price
.variant-great-price {
    .material-icons-custom {
        background-image: url(../../Icons/MaterialSymbolSVG/sell_custom/sell_custom_12.svg);
        @media (min-width: 768px) {
            background-image: url(../../Icons/MaterialSymbolSVG/sell_custom/sell_custom_14.svg);
        }
    }
}

/// storybook specific
// mobile only display

    .badge-product-sb-mobile {
        width: fit-content;
        height: 18px !important;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 3px 4px;
        outline: 1px solid var(--color-greyscale-grey-10);
        background: var(--color-greyscale-grey-05);

        // use image or use the actual svg raw code?
        .material-icons-custom {
            width: 12px;
            height: 12px;
           // background-image: url(../Icons/MaterialSymbolSVG/verified/verified_500_12.svg) !important;
            background-size: auto;
            background-repeat: no-repeat;
        }

        .variant-standard-assortment-mob {
            background-image: url(../../Icons/MaterialSymbolSVG/verified/verified_500_12.svg) !important;
        }

        .variant-contract-assortment-mob {
            background-image: url(../../Icons/MaterialSymbolSVG/assignment_turned_in/assignment_turned_in_400_12.svg) !important;
        }

        .variant-great-price-mob {
            background-image: url(../../Icons/MaterialSymbolSVG/sell_custom/sell_custom_12.svg) !important;
        }

        //// use this, or use the defined font
        /// repurcussions ---
        /// use it once, defined once ... or every single time someone uses it, new stuff
        /// better to make it only once and draw from it
        /// use this then as defacto
        //// remove this and see if it still works out

        /* Desktop/Label Small */
        .badge-product-title {
            color: var(--text-highest-emphasis);
            font-feature-settings: 'ss03' on, 'ss02' on;
            /* Desktop/Label Small */
            //font-family: breuercondensed; // draws from main -- so use here or? or perhaps global?
            font-size: 12px !important;
            //font-style: normal; // ys no?
            //font-weight: 700; // add var
             line-height: 12px !important; // add var ... also --- will i use this or padding top
            letter-spacing: 0.48px !important;
            //text-transform: uppercase;
            padding-top: 0px;
            // width: 47px; // add this in and it make the item perfect ??? but ---what to do if there is more text?
            //height: 14px;
        }
    }

