.badge-dot {
    width: 10px;
    height: 10px;
    background: var(--color-greyscale-grey-20);
    border-radius: 50%;
    display: inline-block;

    // @ media query?
}
// desktop 3 sizes (same in both)
.dot-large {
    width: 10px;
    height: 10px;
}

.dot-medium {
    width: 8px;
    height: 8px;
}

.dot-small {
    width: 6px;
    height: 6px;
}

// should I nest this?
// movile 3 sizes (same in both)

// 5 colors including base
/// variants
// neurtal
.dot-neutral {
    background: var(--color-greyscale-grey-20);
}
// warning
.dot-warning {
    background: var(--warning-default);
}
// success
.dot-success {
    background: var(--success-default);
}
// info
.dot-info {
    background: var(--info-default);
}
// danger
.dot-danger {
    background: var(--danger-default);
}

