.clipboard-container-library {
    padding: 8px;
    display: block;
}

.clipboard-icon-library {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../../../components/Icons/ComponentIcons/copy-clipboard.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    float: right;
    margin-top: -5px;
    cursor: pointer;
}
